<mat-grid-list cols="12" rowHeight="2:1">
  <mat-grid-tile colspan="12" rowspan="9" class="header">
    <div class="craze" ngStyle.xs="margin-left:0;width:45%">
      <img src="/assets/img/text.png" alt="" ngStyle.xs="width:100%;margin-top:10%;">
      <ul>
        <li><button mat-icon-button ngStyle.xs="width:5vw;height:5vw"><img style="margin-top: -10%;" src="/assets/img/apple.png" alt=""></button></li>
        <li><button mat-icon-button ngStyle.xs="width:5vw;height:5vw"><img src="/assets/img/android.png" alt=""></button></li>
        <li><button mat-icon-button ngStyle.xs="width:5vw;height:5vw"><img src="/assets/img/windows.png" alt=""></button></li>
      </ul>
    </div>
    <div class="hand" ngStyle.xs="margin-right:0;width:35%">
      
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="12"></mat-grid-tile>
  <mat-grid-tile colspan="12" class="h1">
    <h1>
      Craze Features  
    </h1>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="8" rowspan="2" class="description">
    Lorem ipsum dolor sit amet, pro aeterno adipisci ex, pro no iriure accusam. Eros admodum intellegat ex mea, mei wisi nullam ne, qui cu aliquid nominavi. Est habemus maiestatis ut. Vim quod elitr interesset ea.
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2"></mat-grid-tile>
</mat-grid-list>