<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile colspan="1">
    teste
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    teste
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    teste
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    teste
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    teste
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    teste
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    teste
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    teste
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    teste
  </mat-grid-tile>
</mat-grid-list>